# Semana Exploratory Data Analysis (EDA)

# Problema

- Uma escola necessita trabalhar com filmes em seu planejamento pedagógico.
- Ela necessita de visualizar as notas de diversos filmes em suas diversas categorias.
- Os filmes devem atravessar gerações.

# Ambientação Python

In [2]:
# comentário de uma linha

'''
    comentário de múltiplas linhas
'''
print('Hellor EDA!')
msg = input("Como será essa semana EDA?")
print(f'Nossa semana será muito {msg}!')

Hellor EDA!
Nossa semana será muito produtiva!

## Características do Python

- Multiplataforma
- Data Science e IA
- Indentação
- Tipagem Dinâmica
- Bibliotecas
- Paradigma Funcional (Lambda)
- Paradigma Orientação a Objetos
- Paradigma Estrutural
- Microserviços

In [ ]:
class Pessoa():
    def __init__(self,nome,idade):
        self.nome = nome
        self.idade = idade
        
    def pega_nome(self):
        return self.nome
    
    def dobro_idade(self):
        return self.idade * 2

In [ ]:
pessoa = Pessoa("João")
pessoa.pega_nome()

### Exemplo funcional (Lambda)

In [3]:
# Instalar o NumPy
! pip install numpy

Collecting numpy
  Downloading numpy-2.1.0-cp312-cp312-win_amd64.whl.metadata (59 kB)
Downloading numpy-2.1.0-cp312-cp312-win_amd64.whl (12.6 MB)
   ---------------------------------------- 0.0/12.6 MB ? eta -:--:--
   ----- ---------------------------------- 1.6/12.6 MB 9.3 MB/s eta 0:00:02
   -------------- ------------------------- 4.5/12.6 MB 11.2 MB/s eta 0:00:01
   --------------------- ------------------ 6.8/12.6 MB 11.0 MB/s eta 0:00:01
   ----------------------------- ---------- 9.2/12.6 MB 11.4 MB/s eta 0:00:01
   ------------------------------------ --- 11.5/12.6 MB 11.5 MB/s eta 0:00:01
   ---------------------------------------- 12.6/12.6 MB 11.2 MB/s eta 0:00:00
Installing collected packages: numpy
Successfully installed numpy-2.1.0

In [4]:
# Instalar o Pandas
! pip install pandas

Collecting pandas
  Using cached pandas-2.2.2-cp312-cp312-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\ead\pictures\semana_eda_tarde\.venv\lib\site-packages (from pandas) (2.1.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ead\pictures\semana_eda_tarde\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2024.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\ead\pictures\semana_eda_tarde\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Using cached pandas-2.2.2-cp312-cp312-win_amd64.whl (11.5 MB)
Using cached pytz-2024.1-py2.py3-none-any.whl (505 kB)
Using cached tzdata-2024.1-py2.py3-none-any.whl (345 kB)
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.2.2 pytz-2024.1 tzdata-2024.1

In [5]:
# Definindo um lambda
dobro = lambda x:x*2

### Criar uma matriz 4x3

In [7]:
import numpy as np
matriz_4x3 = np.array([[1,2,3,4],
                       [2,4,6,8],
                       [3,8,12,16],
                       [4,16,24,32]])

In [8]:
matriz_4x3

array([[ 1,  2,  3,  4],
       [ 2,  4,  6,  8],
       [ 3,  8, 12, 16],
       [ 4, 16, 24, 32]])

In [9]:
import pandas as pd

In [10]:
df = pd.DataFrame(matriz_4x3)

In [13]:
df.head()

   0   1   2   3
0  1   2   3   4
1  2   4   6   8
2  3   8  12  16
3  4  16  24  32

In [18]:
df_dobrado = df.apply(dobro)

In [16]:
df_dobrado.head()

   0   1   2   3
0  2   4   6   8
1  4   8  12  16
2  6  16  24  32
3  8  32  48  64